body {
  font-family: "Montserrat", sans-serif;
  color: rgb(64, 32, 132);
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}

div#gallery {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 24px;
}

div.thumbnail {
  display: grid;
  grid-template-columns: 1fr;
}

img.photo {
  width: 320px;
  height: 240px;
  grid-column: 1;
  grid-row: 1;
  margin: 10px;
}

div.screen {
  width: 320px;
  height: 240px;
  margin: 10px;
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(124, 124, 124, 0.48);
  cursor: pointer;
  transition-property: background-color, font-size, color;
  transition-duration: 0.333s;
}

div.spinner {
  width: 320px;
  height: 240px;
  margin: 10px;
  grid-column: 1;
  grid-row: 1;
  font-size: 0px;
  transform: rotate(90deg);
  transition-property: transform;
  transition-duration: 0.333s;
}

div.spinner:hover {
  transform: rotate(0deg);
  color: rgb(255, 255, 255, 0.75);
  font-size: 224px;
}

.screen:hover {
}

#screen-01:hover {
  background-color: rgba(44, 180, 30, 0.58);
}

#screen-02:hover {
  background-color: rgba(32, 94, 198, 0.58);
}

#screen-03:hover {
  background-color: rgba(198, 120, 32, 0.58);
}

#screen-01:active,
#screen-02:active,
#screen-03:active {
  background-color: black;
}
