body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.hide {
  display: none;
}

.user-input {
  color: white;
  background-color: #8a2be2;
  padding: 40px 0;
}

.user-input > h1,
.results > h2,
.results > h4 {
  text-align: center;
}

.user-input > form {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.user-input > form > input {
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  padding: 0 20px;
  width: 40%;
}

.user-input > form > input:focus {
  outline: none;
}

.user-input > form > button {
  align-items: center;
  background-color: #aa6ae6;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.user-input > form > button:hover {
  background-color: #531c86;
  color: #ffffff;
}

.user-input > form > button:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.user-input > form > button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.results > #graph {
  align-items: flex-end;
  display: flex;
  gap: 8px;
  justify-content: center;
}

#graph > .char {
  background-color: #aa6ae6;
  border: #8a2be2 1px solid;
  border-radius: 100px;
  color: white;
  text-align: center;
  width: 24px;
}
